.navbar .container-fluid .navbar-brand {
    height: 100%;
    float: none;
    display: inline-block;
    margin-left: 0px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {

    width: 40%;
    height: 40%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.navbar-brand {
    padding: 0;
}

.navbar-brand >img {
    padding: 15px;
    height: 100%;
}
img {
    max-width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}